PORT=3000

# Reutiliza las MISMAS credenciales del bot de WhatsApp de BaitX
WHATSAPP_TOKEN=EAGS0beSopZBoBSphCwyVpG0oOHZBkZCHoAqqozUvOBkBMW9KEn2kiZAhMlsO0qt8kkEtX83ThQdLX6J8WkZAwyJFtunHpqSWbSxy5U2cyHpsBSvYPb3gPKZBvw1ZBP1SDrDP5GfFulGiyjvFZAQ897W8nr3DYNG38QVRz0FvxZBZBzZBoSOUrIpdI3DL5rTIFjQqQZDZD
PHONE_NUMBER_ID=1386269127891998
GRAPH_VERSION=v26.0

# Tu WhatsApp personal, para recibir cada pedido nuevo (con código de país, sin "+")
OWNER_PHONE=8095652391

# Panel de pedidos (/admin) — pon una contraseña tuya, fuerte
ADMIN_USER=admin
ADMIN_PASSWORD=Detalles92
